img {
    width: 70px;
}

div {
    width: 374px;
    float: left;
    margin: 1px;
}

th {
    font-size: 14px;
    font-weight: bold;
}

td {
    height: 70px;
    /* font-size: 14px; */
}

td img {
    vertical-align: middle;
}

.title {
    width: 220px;
}

.pname {
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 8px;
    /* white-space: nowrap; */
    text-align: center;
}

a {
    font-size: 14px;
    vertical-align: middle;
}

.rank {
    width: 40px;
    text-align: center;
}

caption {
    border: 1px, solid, gray;
    background-color: darkolivegreen;
    color: white;
}

h1 {
    text-align: center;
}

p {
    clear: both;
}